.back{
width:8000px;
height:8000px;
background:black;
transform:translate(-100px,-50px);
}
.title{
color:orange;
font-size:50px;
transform:translate(400px,0px)
}
#puzzle{
transform:translate(820px,-600px);
font-size:25px;
}
#saga{
transform:translate(1200px,-870px);
font-size:25px;
}
#galaga{
transform:translate(380px,-265px);
font-size:25px;
}
#flappy{
transform:translate(-370px,-230px);
font-size:25px;
}
#mvc{
transform:translate(-020px,-500px);
font-size:25px;
}
#willow{
transform:translate(380px,-770px);
font-size:25px;
}
#pacman{
transform:translate(-370px,-750px);
font-size:25px;
}
#street{
transform:translate(-00px,-1020px);
font-size:25px;
}

#frog{
transform:translate(400px,-1300px);
font-size:25px;
}

#pong{
transform:translate(-350px,-1200px);
font-size:25px;
}
#super{
transform:translate(00px,-1480px);
font-size:25px;
}
#oxide{
transform:translate(380px,-1751px);
font-size:25px;
}

.links{
transform:translate(-700px,700px);
}