.back{
width:8000px;
height:8000px;
background:black;
transform:translate(-100px,-50px);
}
.title{
color:orange;
font-size:50px;
transform:translate(400px,0px)
}

.arc{
transform:translate(100px,0px);
float:left;
}

#first{
font-size:40px;
color:orange;
position:relative;
z-index:1;
transform:translate(100px,0px);
}
#second{
font-size:40px;
color:orange;
position:relative;
z-index:1;
transform:translate(100px,50px);
}

#third{
font-size:40px;
color:orange;
position:relative;
z-index:1;
transform:translate(360px,100px);
}
#exit{
transform:translate(0px,-100px);
}
